{% extends '../head.html' %}
{%block hesderdifferent%}
<title>文瓣</title>
<link rel="stylesheet" href="/public/css/index.css" />
{%endblock%}

{% block middle%}
<div class="carousel"><!--轮播图-->
    <ul class="show_img">
        <li>
            <img src="/public/img/carousel/carousel_1_01.gif" />
        </li>
        <li>
            <img src="/public/img/carousel/carousel_1_02.gif" />
        </li>
        <li>
            <img src="/public/img/carousel/carousel_2_01_1111.gif" />
        </li>
        <li>
            <img src="/public/img/carousel/carousel_2_02_1111.gif" />
        </li>
    </ul>
    <!--向左，向右按钮-->
    <div id="carousel_turn_button">
        <button class="turn_previous"><i class="glyphicon glyphicon-menu-left"></i></button>
        <button class="turn_next"><i class="glyphicon glyphicon-menu-right"></i></button>
    </div>
    <!--轮播小点-->
    <ul id="carousel_spot">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div><!--轮播图结束-->
<div id="main_content">


    <!--热门小说-->
    <div id="high_score_novel" class="container-fluid">
        <div class="title">
            <h3>热门小说</h3>
            <a href="#">更多&gt;&gt;</a>
        </div>
        <div class="row">

            {% for novel in noves %}
            <div class="col-md-6 each_novel">
                <img src="{{novel.NovelCover}}">
                <div class="each_novel_right">
                    <a href="/novel?novelID={{novel.NovelID}}" target="_blank"><h2 title="{{novel.Novelname}}">{{novel.Novelname}}</h2></a></br>
                    <div class="star">
                        <span class="star_black"></span>
                        <span class="star_yellow"></span>
                    </div>
                    <span class="score">{{novel.NovelGrade}}</span>
                    <p>作者：<span class="author">{{novel.Authorname}}</span></p>
                    <p>{{novel.tab}}</p>
                </div>
                <p class="novel_abstract">{{novel.NovelAbstract}}</p>
            </div>
            {% endfor %}


        </div>
    </div><!--热门小说结束-->

    <!--热门标签-->
    <div id="hot_tab">
        <div class="title">
            <h3>热门标签</h3>
            <a href="#">更多&gt;&gt;</a>
        </div>
        <dl>
            <dt>时代</dt>
            <dd><a>近代现代</a></dd>
            <dd><a>古色古香</a></dd>
            <dd><a>幻想未来</a></dd>
            <dt>类型</dt>
            <dd><a>爱情</a></dd>
            <dd><a>武侠</a></dd>
            <dd><a>仙侠</a></dd>
            <dd><a>网游</a></dd>
            <dd><a>恐怖</a></dd>
            <dd><a>科幻</a></dd>
            <dd><a>童话</a></dd>
            <dd><a>动漫</a></dd>
            <dd class="last_dd">...</dd>
            <dt>内容标签</dt>
            <dd><a>快穿</a></dd>
            <dd><a >强强</a></dd>
            <dd><a>重生</a></dd>
            <dd><a>相爱相杀</a></dd>
            <dd><a >星际</a></dd>
            <dd><a>网红</a></dd>
            <dd><a>古穿今</a></dd>
            <dd><a>宫斗</a></dd>
            <dd class="last_dd">...</dd>
        </dl>
    </div><!--热门标签结束-->

    <!--热门书单-->
    <div id="hot_book_list">
        <div class="title">
            <h3>热门书单</h3>
            <a href="#">更多&gt;&gt;</a>
        </div>

        <div class="each_book_list">
            <img class="book_list_cover" alt="书单封面" src="/public/img/novel/woyouyao.jpg" />
            <div class="book_list_content">
                <h3 title="我喜好的书单名">我喜好的书单名</h3>
                <i title="收藏" class="glyphicon glyphicon-heart"></i><span class="blist_colloct">29</span>
                <i title="点赞" class="glyphicon glyphicon-star"></i><span class="blist_good">3874</span>
                <span class="book_list_tab">标签：纯爱 / 强强 / 仙侠修真</span>
            </div>
        </div>

    </div><!--热门书单-->
    <div id="hot_review"><!--热门书评-->
        <div class="title">
            <h3>热门书评</h3>
            <a href="#">更多&gt;&gt;</a>
        </div>
    </div><!--热门书评结束-->
</div>
<script type="text/javascript" src="/public/js/index.js" ></script>
{%endblock%}
