{% extends 'head.html' %}
{%block hesderdifferent%}
<title>小说排行榜</title>
<link rel="stylesheet" href="/public/css/charts.css" />
{%endblock%}

{% block middle%}
<!--固定导航-->
<div id="fixed_nav">
	<div class="fixed_nav_left">
		<a href="/">
			<img class="icon" src="/public/img/wen_icon.png" />
			<span>文瓣</span>
		</a>
		<span class="page_title">小说排行榜</span>
	</div>
	<div class="fixed_nav_right">
		<div class="bg_music start_music">
			<audio src="/public/media/天門 - 想い出は逺くの日々.mp3" autoplay="autoplay" loop="loop"></audio>
			<img class="music_shows_status" src="/public/img/charts/music.gif"/>
			<p>天門 - 想い出は逺くの日々</p>
		</div>
		<div class="page_nav">
			<i class="glyphicon glyphicon-th-list"></i>
			<span>目录</span>
			<dl class="scroll_nav">
				<dd><i class="glyphicon glyphicon-menu-right"></i><a href="#p1">高分小说</a></dd>
				<dd><i class="glyphicon glyphicon-menu-right"></i><a href="#p2">最受关注小说</a></dd>
				<dt><i class="glyphicon glyphicon-menu-right"></i>性向分类</dt>
				<dd><i class="glyphicon glyphicon-menu-right"></i><a href="#p3">言情类小说</a></dd>
				<dd><i class="glyphicon glyphicon-menu-right"></i><a href="#p4">纯爱类小说</a></dd>
				<dd><i class="glyphicon glyphicon-menu-right"></i><a href="#p5">无CP类小说</a></dd>
				<dd><i class="glyphicon glyphicon-menu-right"></i><a href="#p6">百合类小说</a></dd>
				<dd><i class="glyphicon glyphicon-menu-right"></i><a href="#p7">女尊类小说</a></dd>
				<dt><i class="glyphicon glyphicon-menu-right"></i>时代分类</dt>
				<dd><i class="glyphicon glyphicon-menu-right"></i><a href="#p8">近代现代类小说</a></dd>
				<dd><i class="glyphicon glyphicon-menu-right"></i><a href="#p9">古色古香类小说</a></dd>
				<dd><i class="glyphicon glyphicon-menu-right"></i><a href="#p10">幻想未来类小说</a></dd>
			</dl>
		</div>
	</div>
</div>
<!--固定按钮下一页-->
<div id="next_page_btn"><i class="glyphicon glyphicon-menu-down"></i></div>
<!--视频-->
<div id="mp4">
	<video src="/public/media/book_annual.mp4" loop="loop" autoplay="autoplay"></video>
	<img src="/public/img/charts/charts_bg_1.jpg" />
	<img class="video_text" src="/public/img/charts/charts_title.png" />
</div>

<!--高分小说-->
<a class="each_page"  name="p1" id="p1">
	<div class="each_page_content">
		<!--第一名小说-->
		<div class="first_novel">
			<img alt="第一名" onclick="window.location.href='/novel?novelID={{highNovel[0].NovelID}}'" src="{{highNovel[0].NovelCover}}">
			<div class="first_novel_right">
				<p class="each_page_title">高分小说排行榜</p>
				<span class="order_number">Top 1</span>
				<h4 onclick="window.location.href='/novel?novelID={{highNovel[0].NovelID}}'">{{highNovel[0].Novelname}}</h4>
				<p class="author">{{highNovel[0].authorName}}</p>
				<div class="star">
					<div class="star_black"></div>
					<div class="star_yellow" style="width: {{highNovel[0].gradeWidth}}"></div>
				</div>
				<span class="score">{{highNovel[0].NovelGrade}}</span>
				<span class="assess_people">{{highNovel[0].NovelGradeNum}}&nbsp;人评价</span>
				<p class="short_comment">{{highNovel[0].comment}}</p>
			</div>
		</div>
		<!--2到10名小说-->
		<div class="other_novel">
			<div class="inner_other_novel">
				<div class="other_each_novel">
					<img onclick="window.location.href='/novel?novelID={{highNovel[1].NovelID}}'" alt="小说封面" src="{{highNovel[1].NovelCover}}">
					<span class="order_number">2</span>
					<p>{{highNovel[1].Novelname}} <span>{{highNovel[1].NovelGrade}}</span></p>
				</div>
				<div class="other_each_novel">
					<img onclick="window.location.href='/novel?novelID={{highNovel[2].NovelID}}'" alt="小说封面" src="{{highNovel[2].NovelCover}}">
					<span class="order_number">3</span>
					<p>{{highNovel[2].Novelname}} <span>{{highNovel[2].NovelGrade}}</span></p>
				</div>
				<div class="other_each_novel">
					<img onclick="window.location.href='/novel?novelID={{highNovel[3].NovelID}}'" alt="小说封面" src="{{highNovel[3].NovelCover}}">
					<span class="order_number">4</span>
					<p>{{highNovel[3].Novelname}} <span>{{highNovel[3].NovelGrade}}</span></p>
				</div>
				<div class="other_each_novel">
					<img onclick="window.location.href='/novel?novelID={{highNovel[4].NovelID}}'" alt="小说封面" src="{{highNovel[4].NovelCover}}">
					<span class="order_number">5</span>
					<p>{{highNovel[4].Novelname}} <span>{{highNovel[4].NovelGrade}}</span></p>
				</div>
				<div class="other_each_novel">
					<img onclick="window.location.href='/novel?novelID={{highNovel[5].NovelID}}'" alt="小说封面" src="{{highNovel[5].NovelCover}}">
					<span class="order_number">6</span>
					<p>{{highNovel[5].Novelname}} <span>{{highNovel[5].NovelGrade}}</span></p>
				</div>
				<div class="other_each_novel">
					<img onclick="window.location.href='/novel?novelID={{highNovel[6].NovelID}}'" alt="小说封面" src="{{highNovel[6].NovelCover}}">
					<span class="order_number">7</span>
					<p>{{highNovel[6].Novelname}} <span>{{highNovel[6].NovelGrade}}</span></p>
				</div>
				<div class="other_each_novel">
					<img onclick="window.location.href='/novel?novelID={{highNovel[7].NovelID}}'" alt="小说封面" src="{{highNovel[7].NovelCover}}">
					<span class="order_number">8</span>
					<p>{{highNovel[7].Novelname}} <span>{{highNovel[7].NovelGrade}}</span></p>
				</div>
				<div class="other_each_novel">
					<img onclick="window.location.href='/novel?novelID={{highNovel[8].NovelID}}'" alt="小说封面" src="{{highNovel[8].NovelCover}}">
					<span class="order_number">9</span>
					<p>{{highNovel[8].Novelname}} <span>{{highNovel[8].NovelGrade}}</span></p>
				</div>
				<div class="other_each_novel">
					<img onclick="window.location.href='/novel?novelID={{highNovel[9].NovelID}}'" alt="小说封面" src="{{highNovel[9].NovelCover}}">
					<span class="order_number">10</span>
					<p>{{highNovel[9].Novelname}} <span>{{highNovel[9].NovelGrade}}</span></p>
				</div>
			</div>
		</div><!--第二到第十名小说结束s-->
	</div>
</a>
<!--最受关注小说-->
<a class="each_page"  name="p2" id="p2">
	<div class="each_page_content">
		<!--第一名小说-->
		<div class="first_novel">
			<img alt="第一名" src="/public/img/can_delete/hot_book_list_pic.jpg">
			<div class="first_novel_right">
				<p class="each_page_title">最受关注小说排行榜</p>
				<span class="order_number">Top 1</span>
				<h4>魔道祖师</h4>
				<p class="author">作者名</p>
				<div class="star">
					<div class="star_black"></div>
					<div class="star_yellow"></div>
				</div>
				<span class="score">9.1</span>
				<span class="assess_people">255&nbsp;人评价</span>
				<p class="short_comment">点赞最多的短评点赞最多的短评点赞最多的短评点赞最多的短评点赞最多的短评点赞最多的短评点赞最多的短评点赞最多的短评点赞最多的短评点赞最多的短评</p>
			</div>
		</div>
		<!--2到10名小说-->
		<div class="other_novel">
			<div class="inner_other_novel">
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/woyouyao.jpg">
					<span class="order_number">2</span>
					<p>你有药吗你有药吗你有药吗你<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/woyouyao.jpg">
					<span class="order_number">3</span>
					<p>你有药吗<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/woyouyao.jpg">
					<span class="order_number">4</span>
					<p>你有药吗<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/woyouyao.jpg">
					<span class="order_number">5</span>
					<p>你有药吗<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/woyouyao.jpg">
					<span class="order_number">6</span>
					<p>你有药吗<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/can_delete/fengmian.jpg">
					<span class="order_number">7</span>
					<p>你有药吗<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/can_delete/fengmian.jpg">
					<span class="order_number">8</span>
					<p>你有药吗<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/can_delete/fengmian.jpg">
					<span class="order_number">9</span>
					<p>你有药吗<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/can_delete/fengmian.jpg">
					<span class="order_number">10</span>
					<p>你有药吗<span>&nbsp;8.0</span></p>
				</div>
			</div>
		</div><!--第二到第十名小说结束s-->
	</div>
</a>

<!--言情类小说-->
<a class="each_page"  name="p3" id="p3">
	<div class="each_page_content">
		<!--第一名小说-->
		<div class="first_novel">
			<img alt="第一名" src="/public/img/novel/novelimage12.jpg">
			<div class="first_novel_right">
				<p class="each_page_title">言情类小说排行榜</p>
				<span class="order_number">Top 1</span>
				<h4>豪门暖婚蜜爱</h4>
				<p class="author">傲雪寒梅</p>
				<div class="star">
					<div class="star_black"></div>
					<div class="star_yellow"></div>
				</div>
				<span class="score">9.1</span>
				<span class="assess_people">575&nbsp;人评价</span>
				<p class="short_comment">十三年前，她大雪中救他，十三年后，他害她家破人亡，走投无路时，他逼她做他的女人。谁能告诉她，婚前不是约法三章了吗？他们只是合作伙伴，婚后AA制，井水不犯河水，为什么这男人变着花样儿攻占她的心？ </p>
			</div>
		</div>
		<!--2到10名小说-->
		<div class="other_novel">
			<div class="inner_other_novel">
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage.jpg">
					<span class="order_number">2</span>
					<p>维密天使<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage2.jpg">
					<span class="order_number">3</span>
					<p>遇见未知的自己<span>&nbsp;7.9</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage3.jpg">
					<span class="order_number">4</span>
					<p>偏向瞎子抛媚眼<span>&nbsp;7.9</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage4.jpg">
					<span class="order_number">5</span>
					<p>知否知否<span>&nbsp;7.8</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage5.jpg">
					<span class="order_number">6</span>
					<p>如何死出铁骨美感<span>&nbsp;7.5</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage6.jpg">
					<span class="order_number">7</span>
					<p>牡丹的娇养手册<span>&nbsp;7.5</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage7.jpg">
					<span class="order_number">8</span>
					<p>赠敌他晚来疯急<span>7.4&nbsp;</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage8.jpg">
					<span class="order_number">9</span>
					<p>凉风与热花雕<span>&nbsp;7.3</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage9.jpg">
					<span class="order_number">10</span>
					<p>驯夫手札<span>&nbsp;6.0</span></p>
				</div>
			</div>
		</div><!--第二到第十名小说结束s-->
	</div>
</a>
<!--纯爱类小说-->
<a class="each_page"  name="p4" id="p4">
	<div class="each_page_content">
		<!--第一名小说-->
		<div class="first_novel">
			<img alt="第一名" src="/public/img/novel/novelimage16.jpg">
			<div class="first_novel_right">
				<p class="each_page_title">纯爱类小说排行榜</p>
				<span class="order_number">Top 1</span>
				<h4>非职业半仙</h4>
				<p class="author">霄云</p>
				<div class="star">
					<div class="star_black"></div>
					<div class="star_yellow"></div>
				</div>
				<span class="score">9.1</span>
				<span class="assess_people">270&nbsp;人评价</span>
				<p class="short_comment">突如其来，谢灵涯成为了一个小道观的产权所有人。
					该道观左邻商业街，右靠广场，背后一个菜市场，可惜香火冷清，穷得叮当响。
					我们的目标是：开最大的道观，烧最粗的香！
					……
					谢灵涯：我无证抓鬼、算命、画符、看风水……但我知道我是好半仙！</p>
			</div>
		</div>
		<!--2到10名小说-->
		<div class="other_novel">
			<div class="inner_other_novel">
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage9.jpg">
					<span class="order_number">2</span>
					<p>驯夫手札 <span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage8.jpg">
					<span class="order_number">3</span>
					<p>凉风与热花雕<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage7.jpg">
					<span class="order_number">4</span>
					<p>怎敌他晚来疯急<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage6.jpg">
					<span class="order_number">5</span>
					<p>牡丹的娇养手册 <span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage5.jpg">
					<span class="order_number">6</span>
					<p>如何死出铁骨美感 <span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage4.jpg">
					<span class="order_number">7</span>
					<p>知否知否<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage3.jpg">
					<span class="order_number">8</span>
					<p>偏向瞎子抛媚眼<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage2.jpg">
					<span class="order_number">9</span>
					<p>遇见未知的自己<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage.jpg">
					<span class="order_number">10</span>
					<p>维密天使<span>&nbsp;8.0</span></p>
				</div>
			</div>
		</div><!--第二到第十名小说结束s-->
	</div>
</a>
<!--无cp类小说-->
<a class="each_page"  name="p5" id="p5">
	<div class="each_page_content">
		<!--第一名小说-->
		<div class="first_novel">
			<img alt="第一名" src="/public/img/novel/novelimage2.jpg">
			<div class="first_novel_right">
				<p class="each_page_title">无cp类小说排行榜</p>
				<span class="order_number">Top 1</span>
				<h4>遇见未知的自己</h4>
				<p class="author">正在回家的路上</p>
				<div class="star">
					<div class="star_black"></div>
					<div class="star_yellow"></div>
				</div>
				<span class="score">9.1</span>
				<span class="assess_people">2545&nbsp;人评价</span>
				<p class="short_comment">师父教我的那些东西，在这里得到了通俗的讲解，世界上只有三种事，老天的事，别人的事和我的事，做好我的事，就够了。很多时候，人生是需要一些励志书的</p>
			</div>
		</div>
		<!--2到10名小说-->
		<div class="other_novel">
			<div class="inner_other_novel">
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage.jpg">
					<span class="order_number">2</span>
					<p>维密天使 <span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage3.jpg">
					<span class="order_number">3</span>
					<p>偏向瞎子抛媚眼<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage5.jpg">
					<span class="order_number">4</span>
					<p>如何死出铁骨美感 <span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage7.jpg">
					<span class="order_number">5</span>
					<p>怎敌他晚来疯急<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage9.jpg">
					<span class="order_number">6</span>
					<p>驯夫手札<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage11.jpg">
					<span class="order_number">7</span>
					<p>最后的言灵师<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage13.jpg">
					<span class="order_number">8</span>
					<p>娇蛮弃妃<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage15.jpg">
					<span class="order_number">9</span>
					<p>101次枕边书<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage17.jpg">
					<span class="order_number">10</span>
					<p>如意缘<span>&nbsp;8.0</span></p>
				</div>
			</div>
		</div><!--第二到第十名小说结束s-->
	</div>
</a>
<!--百合类小说-->
<a class="each_page"  name="p6" id="p6">
	<div class="each_page_content">
		<!--第一名小说-->
		<div class="first_novel">
			<img alt="第一名" src="/public/img/novel/novelimage17.jpg">
			<div class="first_novel_right">
				<p class="each_page_title">百合类小说排行榜</p>
				<span class="order_number">Top 1</span>
				<h4>如意缘</h4>
				<p class="author">七合香</p>
				<div class="star">
					<div class="star_black"></div>
					<div class="star_yellow"></div>
				</div>
				<span class="score">9.1</span>
				<span class="assess_people">79 人评价</span>
				<p class="short_comment">世人都说赵九姑娘是天下第一福星，所以被退亲之后还过得风生水起，名动京城，连郡王爷都上门来提亲了。
					赵如意表示，我怎么不知道我还有个这样护短的爹？
					这是一篇金手指金大腿爽文
					架空背景，请勿深究，1v1 he</p>
			</div>
		</div>
		<!--2到10名小说-->
		<div class="other_novel">
			<div class="inner_other_novel">
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage2.jpg">
					<span class="order_number">2</span>
					<p>遇见未知的自己<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage4.jpg">
					<span class="order_number">3</span>
					<p>知否知否<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage6.jpg">
					<span class="order_number">4</span>
					<p>牡丹的娇养手册<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage8.jpg">
					<span class="order_number">5</span>
					<p>凉风与热花雕<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage10.jpg">
					<span class="order_number">6</span>
					<p>名动天下<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage12.jpg">
					<span class="order_number">7</span>
					<p>豪门暖婚蜜爱<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage14.jpg">
					<span class="order_number">8</span>
					<p>驭兽狂妃<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage16.jpg">
					<span class="order_number">9</span>
					<p>非职业半仙<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage18.jpg">
					<span class="order_number">10</span>
					<p>小芳邻<span>&nbsp;8.0</span></p>
				</div>
			</div>
		</div><!--第二到第十名小说结束s-->
	</div>
</a>
<!--女尊类小说-->
<a class="each_page"  name="p7" id="p7">
	<div class="each_page_content">
		<!--第一名小说-->
		<div class="first_novel">
			<img alt="第一名" src="/public/img/novel/novelimage9.jpg">
			<div class="first_novel_right">
				<p class="each_page_title">女尊类小说排行榜</p>
				<span class="order_number">Top 1</span>
				<h4>驯夫手札</h4>
				<p class="author">字母z</p>
				<div class="star">
					<div class="star_black"></div>
					<div class="star_yellow"></div>
				</div>
				<span class="score">9.1</span>
				<span class="assess_people">255&nbsp;人评价</span>
				<p class="short_comment">俗话说的好，仗义每多屠狗辈，负心多是读书人——

					一朝穿越，林青玄由一名大龄中医女博士，成为小山村杀猪匠的女儿林大妞。

					林大妞身材壮硕，力大无穷，肤黑貌丑，媒人来提亲，嫁给了邻村的丧父的小童生孙青山。

					孙青山眨眨眼，仔细回想一下，自己怎么好像越来越离不开这个恶妇了？</p>
			</div>
		</div>
		<!--2到10名小说-->
		<div class="other_novel">
			<div class="inner_other_novel">
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage10.jpg">
					<span class="order_number">2</span>
					<p>名动天下<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage11.jpg">
					<span class="order_number">3</span>
					<p>最后的言灵师<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage12.jpg">
					<span class="order_number">4</span>
					<p>豪门暖婚蜜爱<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage13.jpg">
					<span class="order_number">5</span>
					<p>娇蛮弃妃<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage14.jpg">
					<span class="order_number">6</span>
					<p>驭兽狂妃<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage15.jpg">
					<span class="order_number">7</span>
					<p>101次枕边书<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage16.jpg">
					<span class="order_number">8</span>
					<p>非职业半仙<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage17.jpg">
					<span class="order_number">9</span>
					<p>如意缘<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage18.jpg">
					<span class="order_number">10</span>
					<p>小芳邻<span>&nbsp;8.0</span></p>
				</div>
			</div>
		</div><!--第二到第十名小说结束s-->
	</div>
</a>
<!--近代现代类小说-->
<a class="each_page"  name="p8" id="p8">
	<div class="each_page_content">
		<!--第一名小说-->
		<div class="first_novel">
			<img alt="第一名" src="/public/img/novel/novelimage12.jpg">
			<div class="first_novel_right">
				<p class="each_page_title">近代现代类小说排行榜</p>
				<span class="order_number">Top 1</span>
				<h4>豪门暖婚蜜爱</h4>
				<p class="author">傲雪寒梅</p>
				<div class="star">
					<div class="star_black"></div>
					<div class="star_yellow"></div>
				</div>
				<span class="score">9.1</span>
				<span class="assess_people">575&nbsp;人评价</span>
				<p class="short_comment">十三年前，她大雪中救他，十三年后，他害她家破人亡，走投无路时，他逼她做他的女人。谁能告诉她，婚前不是约法三章了吗？他们只是合作伙伴，婚后AA制，井水不犯河水，为什么这男人变着花样儿攻占她的心？ </p>
			</div>
		</div>
		<!--2到10名小说-->
		<div class="other_novel">
			<div class="inner_other_novel">
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage2.jpg">
					<span class="order_number">2</span>
					<p>遇见未知的自己<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage4.jpg">
					<span class="order_number">3</span>
					<p>知否知否<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage6.jpg">
					<span class="order_number">4</span>
					<p>牡丹的娇养手册<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage8.jpg">
					<span class="order_number">5</span>
					<p>凉风与热花雕<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage12.jpg">
					<span class="order_number">7</span>
					<p>豪门暖婚蜜爱<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage18.jpg">
					<span class="order_number">10</span>
					<p>小芳邻<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage14.jpg">
					<span class="order_number">8</span>
					<p>驭兽狂妃<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage16.jpg">
					<span class="order_number">9</span>
					<p>非职业半仙<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage10.jpg">
					<span class="order_number">6</span>
					<p>名动天下<span>&nbsp;8.0</span></p>
				</div>
			</div>
		</div><!--第二到第十名小说结束s-->
	</div>
</a>
<!--古色古香类小说-->
<a class="each_page"  name="p9" id="p9">
	<div class="each_page_content">
		<!--第一名小说-->
		<div class="first_novel">
			<img alt="第一名" src="/public/img/can_delete/hot_book_list_pic.jpg">
			<div class="first_novel_right">
				<p class="each_page_title">古色古香类小说排行榜</p>
				<span class="order_number">Top 1</span>
				<h4>魔道祖师</h4>
				<p class="author">墨香铜臭</p>
				<div class="star">
					<div class="star_black"></div>
					<div class="star_yellow"></div>
				</div>
				<span class="score">9.1</span>
				<span class="assess_people">255&nbsp;人评价</span>
				<p class="short_comment">…我看到这里…阿瑶踹聂大…是因为…想保住他的吧…</p>
			</div>
		</div>
		<!--2到10名小说-->
		<div class="other_novel">
			<div class="inner_other_novel">

				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage6.jpg">
					<span class="order_number">5</span>
					<p>牡丹的娇养手册 <span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage7.jpg">
					<span class="order_number">4</span>
					<p>怎敌他晚来疯急<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage.jpg">
					<span class="order_number">10</span>
					<p>维密天使<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage4.jpg">
					<span class="order_number">7</span>
					<p>知否知否<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage5.jpg">
					<span class="order_number">6</span>
					<p>如何死出铁骨美感 <span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage3.jpg">
					<span class="order_number">8</span>
					<p>偏向瞎子抛媚眼<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage9.jpg">
					<span class="order_number">2</span>
					<p>驯夫手札 <span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage2.jpg">
					<span class="order_number">9</span>
					<p>遇见未知的自己<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage8.jpg">
					<span class="order_number">3</span>
					<p>凉风与热花雕<span>&nbsp;8.0</span></p>
				</div>
			</div>
		</div><!--第二到第十名小说结束s-->
	</div>
</a>
<!--幻想未来类小说-->
<a class="each_page"  name="p10" id="p10">
	<div class="each_page_content">
		<!--第一名小说-->
		<div class="first_novel">
			<img alt="第一名" src="/public/img/novel/novelimage19.jpg">
			<div class="first_novel_right">
				<p class="each_page_title">幻想未来类小说排行榜</p>
				<span class="order_number">Top 1</span>
				<h4>集魂者</h4>
				<p class="author">小箐</p>
				<div class="star">
					<div class="star_black"></div>
					<div class="star_yellow"></div>
				</div>
				<span class="score">9.1</span>
				<span class="assess_people">490&nbsp;人评价</span>
				<p class="short_comment">唐修，是一名集魂者。
					集善恶三十六魂，便得下一世生命。
					集魂幡万年吟唱，却始终空了最后一缕未集之魂。
					这一世，他选择了步入娱乐圈。
					——听说那里，能寻得百态灵魂。</p>
			</div>
		</div>
		<!--2到10名小说-->
		<div class="other_novel">
			<div class="inner_other_novel">
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage5.jpg">
					<span class="order_number">6</span>
					<p>如何死出铁骨美感<span>&nbsp;7.5</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage.jpg">
					<span class="order_number">2</span>
					<p>维密天使<span>&nbsp;8.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage9.jpg">
					<span class="order_number">10</span>
					<p>驯夫手札<span>&nbsp;6.0</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage2.jpg">
					<span class="order_number">3</span>
					<p>遇见未知的自己<span>&nbsp;7.9</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage4.jpg">
					<span class="order_number">5</span>
					<p>知否知否<span>&nbsp;7.8</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage6.jpg">
					<span class="order_number">7</span>
					<p>牡丹的娇养手册<span>&nbsp;7.5</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage3.jpg">
					<span class="order_number">4</span>
					<p>偏向瞎子抛媚眼<span>&nbsp;7.9</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage8.jpg">
					<span class="order_number">9</span>
					<p>凉风与热花雕<span>&nbsp;7.3</span></p>
				</div>
				<div class="other_each_novel">
					<img alt="小说封面" src="/public/img/novel/novelimage7.jpg">
					<span class="order_number">8</span>
					<p>赠敌他晚来疯急<span>7.4&nbsp;</span></p>
				</div>
			</div>
		</div><!--第二到第十名小说结束s-->
	</div>
</a>
<!--结束页-->
<a class="each_page" id="p11" name="p11">
	<h1>FIN</h1>
	<p class="fin_text">榜单是为了支持自己喜欢的小说，也为让更多人知道它。</br>在茫茫书海中寻找一本高质量的小说，在茫茫人海中遇见与自己口味相符的书友。</br>未来相伴，让好书遇见你。</p>
</a>

<script type="text/javascript" src="/public/js/jquery.mousewheel.min.js" ></script>
<script type="text/javascript" src="/public/js/charts.js" ></script>
{%endblock%}
