{% extends '../head.html' %}

{%block hesderdifferent%}
<title>修改密码</title>
<link rel="stylesheet" href="/public/css/set/password_set.css" />
{%endblock%}

{%block middle%}
<form id="change_password">
	<p>
		<label for="check_phone">验证身份：</label>
		<input type="text" id="check_phone" name="check_phone" placeholder="请输入电话号码"/>

	</p>
	<p>
		<label for="old_password">当前密码：</label>
		<input type="password" id="old_password" name="old_password" />
	</p>
	<p>
		<label for="new_password">新密码：</label>
		<input type="password" id="new_password" name="new_password" placeholder="请输入6-15英文字母、数字"  />
	</p>
	<p>
		<label for="new_password2">确认密码：</label>
		<input id="new_password2" name="new_password2" type="password" />
	</p>
	<input type="button" class="submit_btn" value="确认修改密码" />
</form>
<script type="text/javascript" src="/public/js/setting.js" ></script>
{%endblock%}


