*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}

/* 头部菜单栏*/
#menubar{
	display: none;
	position: fixed;
	top:0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height:80px;
	background: #fff;
	-webkit-box-shadow: #838282 0px 0px 10px;
	box-shadow: #838282 0px 0px 10px;
}
.logo{
	/*visibility:hidden;*/
	display: block;
	background: url(../img/logo.png);
	height:30px;
	background-repeat: no-repeat;
	margin-top: 25px;
	margin-left: 40px;
	text-indent: -9999px;
}
#menubar ul{
	float: right;
	position: absolute;
	right:40px;
	top: 30px;
}
#menubar ul li{
	display: inline;
	margin-left: 17px;
}
#menubar ul li a{
	color:#838282;
	font-family: Myriad Pro;
}
#menubar ul .active a{
	color:#6093e7;
	font-weight: bold;
}



/*头部的图片*/
#header_img{
	width:100%;
}
#header_img img{
	position:absolute; 
	width:100%; 
	z-index:-1;
	background-repeat: no-repeat;
}
.text{
	position: absolute;
    top: 50%;
    width: 100%;
}
.text h1{
	color:#fff;
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	font-weight: 300;
	font-size: 40px;
	text-align: center;
}
.text b{
	opacity: 0.5;
	background:#fff;
	color:dodgerblue;
	animation: text_change 2s infinite;
	-moz-animation: text_change 2s infinite;
	-webkit-animation: text_change 2s infinite;
	-ms-animation: text_change 2s infinite;
	ani
	
}
@keyframes text_change{
	0%{opacity: 0;}
	50%{opacity: 1;}
	100%{opacity: 0;}
}
@-moz-keyframes name{
	0%{opacity: 0;}
	50%{opacity: 1;}
	100%{opacity: 0;}
}
@-ms-keyframes name{
	0%{opacity: 0;}
	50%{opacity: 1;}
	100%{opacity: 0;}
}
@-webkit-keyframes name{
	0%{opacity: 0;}
	50%{opacity: 1;}
	100%{opacity: 0;}
}
