#change_password{
	width: 80%;
	margin: 50px auto;
}
#change_password input{
	outline: none;
	border: 1px solid #228A31;
	width: 200px;
	height: 25px;
	padding-left: 5px;
}
#change_password label{
	color: #228A31;
	position: relative;
	left: 0px;
	top:0px;
	letter-spacing: 2px;
	width: 85px;
	text-align: right;
}
#change_password p{
	display: block;
	width: 290px;
	margin: 5px auto;
}
#change_password p:nth-child(4){
	margin-bottom: 20px;
}
#change_password .submit_btn{
	background: #228A31;
	height: 30px;
	color: #fff;
	font-size: 18px;
	margin: 5px auto;
	display: block;
}
/*错误信息*/
#change_password p span{
	color: red;
	font-size: 14px;
	margin-left: 90px;
}

footer{
	position: absolute;
	bottom: 0px;
	left: 0px;
}
